<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyy-MM-dd HH:mm:ss,GMT+8}[%p][%t][%file:%M %line][%X] - %m%n</pattern>
        </encoder>
    </appender>

    <root>
        <level value="TRACE"/>
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
